@font-face {
    font-family: "NanumSquareExtraBold";
    src: url("../font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareBold";
    src: url("../font/NanumSquareB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRegular";
    src: url("../font/NanumSquareR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareLight";
    src: url("../font/NanumSquareL.ttf") format("truetype");
}

$CB_BLUE: #00A9CE;
$CB_YELLOW: #FEDD00;

* {
    margin: 0;
    padding: 0;
    font-family: NanumSquareRegular;    
}

h1 {
    font-family: NanumSquareExtraBold;
    font-size: 40px;
}

h2 {
    font-family: NanumSquareBold;
}

h3, h4 {
    font-family: NanumSquareRegular;
}

button {
    height: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

div.containedBtnBigBlue {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: $CB_BLUE;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnBigYellow {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: $CB_YELLOW;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnBigGray {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnBlue {
    height: 40px;
    line-height: 40px;
    background-color: $CB_BLUE;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnYellow {
    height: 40px;
    line-height: 40px;
    background-color: $CB_YELLOW;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnGray {
    height: 40px;
    line-height: 40px;
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
}


div.containedBtnSmallBlue {
    width: 10%;
    height: 40px;
    line-height: 40px;
    background-color: $CB_BLUE;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnSmallYellow {
    width: 10%;
    height: 40px;
    line-height: 40px;
    background-color: $CB_YELLOW;
    text-align: center;
    border: 1px solid black;
}

div.containedBtnSmallGray {
    width: 10%;
    height: 40px;
    line-height: 40px;
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
}

div.BoardButtonsMe {
    justify-content: space-around;
}

div.BoardButtonsOther {
    div {
        margin-right: -66.6%;
    }
}

.CustomInputDate {
    width: 70%;
}

div.CrowBus {
    width: 60px;
    height: 63.24px;
    background-image: url('../images/crowbus.png');
    background-size: cover;
}

div.CrowBusAndText {
    width: 300px;
    height: 321.1px;
    background-image: url('../images/main.png');
    background-size: cover;
}

div.CrowBusAndDriver {
    width: 300px;
    height: 321.1px;
    background-image: url('../images/driver.png');
    background-size: cover;
}

div.GridXS {
    place-items: center;
    display: grid;
}

div.MenuEle {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    margin: 5px 0;
}

div.PassengerMenu {
    div.MenuEle {
        background-color: $CB_BLUE;
    }
}

div.DriverMenu {
    div.MenuEle {
        background-color: $CB_YELLOW;
    }
}

div.Jumbotron {
    background-color: $CB_BLUE;
    padding: 1.5rem;
    margin: 0.5rem 0;
}

#blue {
    background-color: $CB_BLUE;
}

#gray {
    background-color: lightgray;
}

div.Pagination {
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 6px 3px;
        background-color: lightgray;
    }
}

span.HeadingIndexBlue {
    width: 3px;
    height: 28px;
    background-color: $CB_BLUE;
    margin: 0 10px;
}

span.HeadingIndexYellow {
    width: 3px;
    height: 28px;
    background-color: $CB_YELLOW;
    margin: 0 10px;
}


div.Ticket, div.Drive, table.MemberInfoTable {
    border: 1px solid black;
    padding: 10px;
    height: 90px;
    margin: 10px;
    width: 300px;
    div.ButtonWrapper div, div.containedBtnSmallYellow {
        height: 30px;
        line-height: 30px;
    }
    div.DriveInfo, div.CarInfo {
        justify-content: space-between;                   
    
        div.containedBtnSmallYellow {
            width: 20%;
        }
    }
}

div.LoginContainer {
    div.LoginWrapper {
        height: 140px;
        justify-content: space-around;
        div.LoginInput {
            height: 90px;
            justify-content: space-around;
            div {
                height: 40px;
            }
        }
    }
    div.LoginShortcut {
        a {
            margin: 0 3px;
        }
    }
}

div.SignUpBtnWrapper {
    padding: 1.5rem 0;
    justify-content: space-around;
    height: 200px;
    a.InputLink {
        width: 90%;
    }
}

div.SignUpInputWrapper {
    padding: 10px 0;
    table.SignUpInputTable {
        height: 300px;
        tr {
            margin: 10px;
        }
        div {
            height: 40px;
        }
        th, td.opt {
            width: 20%;
        } 
    }
}

div.HomeContainer {
    div.MenuWrapper {
        margin: 10px 0;
        justify-content: space-around;
        div.containedBtnBigGray {
            width: 96%;
        }
    }
}

table.MemberInfoTable {
    border: 1px solid black;
}

div.TimetableContainer {
    padding: 5px 0;
    table.RouteTimeTable {
        border: 1px solid black;
        text-align: center;
        width: 300px;
    
        thead {
            background-color: $CB_BLUE;
        }
    }
}

div.NoticeBoardWrapper, div.LostAndFoundBoardWrapper {
    span.Bold {
        font-weight: bold;
    }


    div.WriteButtonWrapper {
        padding: 5px;
        justify-content: right;
        height: 50px;
        div.containedBtnBlue{
            padding: 0 5px;
        }
    }
    table.NoticeBoardTable {
        padding: 10px;
    }
}

div.PostCreateWrapper {
    padding: 10px 0;
    table.PostCreateTable {
        th { 
            padding: 0 10px;
            text-align: center;
         }
        div.CustomInput {
            width: 90%;
        }
    }
    div.BoardWriteButtons {
        padding: 15px 0;
        a {
            width: auto;
        }
        div.containedBtnBlue, div.containedBtnGray {
            width: 100px;
        }   
    }
}

div.PostDetailContainer {
    div.PostInfo {
        padding: 10px 5px;
        
        div.PostTitleInfo {
            h4.PostRoute {
                padding-right: 5px; 
            }
        }

        div.PostSubInfo {
            padding: 5px 0;
            div.PostSubInfoFirstRow {
                justify-content: space-between;
            }
        }

        span.PostContents {
            border: 1px solid black;
            padding: 5px;
            height: 200px;
        }
    }
    div.BoardButtonsMe, div.BoardButtonsOther {
        div {
            width: 75px;
        } 
    }
}

div.ChooseDriveScheduleContainer {
    div.ChooseSchedule {
        padding: 10px 0;
    }
    div.ChooseSchedule > div.CustomInputDate, div.containedBtnBlue {
        width: 300px;
    }

    div.RouteAndPlaceWrapper div {
        width: 150px;
    }
}

div.ChooseSeatContainer {
    a.HeadingWithLink {
        margin: 10px;
    }

    div.SeatMap {
        width: 200px;
        padding: 20px 0;

        div.Seat {
            float: left;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        div.SeatChoosed {
            float: left;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid black;
            box-sizing: border-box;
            background-color: gray;
        }

        div.SeatChoice {
            float: left;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid black;
            box-sizing: border-box;
            background-color: $CB_BLUE;
        }

        div.Empty {
            float: left;
            width: 40px;
            height: 40px;
            box-sizing: border-box;
        }
    }
    div#rsvCompleted {
        width: 300px;
    }
}