@font-face {
    font-family: "NanumSquareExtraBold";
    src: url("../font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareBold";
    src: url("../font/NanumSquareB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRegular";
    src: url("../font/NanumSquareR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareLight";
    src: url("../font/NanumSquareL.ttf") format("truetype");
}

$CB_BLUE: #00A9CE;
$CB_YELLOW: #FEDD00;

* {
    margin: 0;
    padding: 0;
    font-family: NanumSquareRegular;    
}

h1 {
    font-family: NanumSquareExtraBold;
}

h2 {
    font-family: NanumSquareBold;
}

h3, h4 {
    font-family: NanumSquareRegular;
}

button {
    height: 3rem;
}

button.containedBtnBig {
    width: 90%;
}

button.containedBtnSmall {
    width: 10%;
}

.CustomInputDate {
    width: 70%;
}

div.CrowBus {
    width: 50px;
    height: 52.7px;
    background-image: url('../images/crowbus.png');
    background-size: cover;
}

div.CrowBusAndText {
    width: 300px;
    height: 321.1px;
    background-image: url('../images/main.png');
    background-size: cover;
}

div.CrowBusAndDriver {
    width: 300px;
    height: 321.1px;
    background-image: url('../images/driver.png');
    background-size: cover;
}

div.GridXS {
    place-items: center;
    display: grid;
}

div.MenuEle {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    margin: 5px 0;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: underline;
    }
}

div.PassengerMenu {
    div.MenuEle {
        background-color: $CB_BLUE;
    }
}

div.DriverMenu {
    div.MenuEle {
        background-color: $CB_YELLOW;
    }
}